<!--Name: Madeline Marks-->
<!--Class: COP4521-->
<!--FSUID: mmm18e-->
<!--Due Date 02/14/2022-->
<!--The program in this file is the individual work of Madeline Marks.-->
<html>
    <body>

        <form action = "{{ url_for('addRev') }}" method = 'POST'>
            <h2>Write a Review</h2>
            Username
            <input type = "text", name = "usrnm">
            <br>
            Restaurant
            <input type = "text", name = "rst">
            <br>
            Food
            <input type = "number", name = "food">
            <br>
            Service
            <input type = "number", name = "srvc">
            <br>
            Ambience
            <input type = "number", name = "amb">
            <br>
            Price
            <input type = "number", name = "prc">
            <br>
            Overall
            <input type = "number", name = "ovll">
            <br>
            Review
            <textarea name = "rvw"></textarea>
            <br>
            <input type = "submit" value = "Submit">
        </form>
        <div><a href = "/">Back To Home</a></div>
    </body>
</html>